:root {
  --bg-color: #011212;
}

body {
  background-color: var(--bg-color);
}

.ball {
  --bg-color: #ff8800;
  --width-ball: 100px;
  --height-ball: 100px;
  --bdradius-ball: 50px;
  width: var(--width-ball);
  height: var(--height-ball);
  background-color: var(--bg-color);
  border-radius: var(--bdradius-ball);
}
