:root {
  --bg-color: #011212;
  --bg-color2: #ff8800;
  --width-ball: 100px;
  --height-ball: 100px;
  --bdradius-ball: 50px;
}

body {
  background-color: var(--bg-color);
}

.ball {
  width: var(--width-ball);
  height: var(--height-ball);
  background-color: var(--bg-color2);
  border-radius: var(--bdradius-ball);
}
