@use "base" as color;
@use "function" as f;

@mixin article-style($color, $bcolor, $size: 1rem) {
  color: $color;
  border: 1px solid $bcolor;
  font-size: $size;
}
@mixin flex($direction, $items, $content) {
  flex-direction: $direction;
  align-items: $items;
  justify-content: $content;
}
h1,
p {
  font-size: f.pxtorem(160);
}

div {
  width: 100%;
  border: 1px solid color.$primary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h1 {
    color: color.$tertiary-color;
    text-decoration: underline 0.8px color.$secondary-color;
    text-align: center;
  }
  section {
    display: flex;
    margin: 10px;
    .red {
      @include article-style(color.$primary-color, color.$tertiary-color);
      @include flex(column, center, center);
      padding: color.$my-padding;
    }
    .blue {
      @include article-style(color.$secondary-color, color.$tertiary-color);
      @include flex(column, center, center);
      padding: color.$my-padding;
    }
    .green {
      @include article-style(
        color.$tertiary-color,
        color.$secondary-color,
        24px
      );
      @include flex(column, center, center);
      padding: color.$my-padding;
    }
    p {
      text-align: center;
    }
  }
}
