@import "reset.css";
/* - MAI definire altezza e larghezza degli elementi in px (per il responsive) --> meglio usare % 
   - MAI definire il body con vh (per il mobile/responsive)
   - IMPORTANTISSIMO definire le dimensioni degli elementi per far funzionare flexbox 
*/
:root {
  --radius-circle: 50%;
}
body {
  display: flex;
}
nav {
  height: 100vh;
  border-right: 1px solid silver;
  /* flex-grow: 0.5; */
  /* background-color: red */
  width: 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 100%;
  width: 100%;
}
nav > .navigation {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

main {
  min-height: 100%;
  /* background-color: green */
  /* flex-grow: 6; */
  width: 60%;
  display: flex;
  justify-content: center;
}
section.container {
  width: 80%; /* 80% della width del parent (main) ossia 60% */
  min-height: 100%;
  margin-top: 5vh;
}
section.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > div.left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
header > div.left > div {
  /* tutti i div primi figli di left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header > div.left > div > .top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header > div.left > div > .top > button {
  background-color: #1a8917;
  margin-left: 5px;
  padding: 5px;
  border-radius: 25%;
  color: white;
}

header > div.left > div > .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
aside {
  height: 100vh;
  border-left: 1px solid silver;
  /* background-color: black;*/
  /* flex-grow: 3; */
  width: 35%;
}
.circle {
  border-radius: var(--radius-circle);
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 16px 10px;
  }
  nav > img.logo {
    width: 15%;
  }
  nav > .navigation {
    display: none;
  }
  main {
    width: 100%;
    height: auto;
  }
  aside {
    width: 100%;
    height: auto;
  }
}
