$primary-color: red;
$secondary-color: blue;
$tertiary-color: green;

div {
  border: 1px solid $primary-color;
  width: 100%;
  h1 {
    text-align: center;
    color: $tertiary-color;
    text-decoration: underline 0.8px $secondary-color;
  }
  section {
    border: 1px solid $tertiary-color;
    display: flex;
    margin: 8px;
    article {
      display: flex;
      border: 0.5px solid $tertiary-color;
      padding: 10px;
      p {
        text-align: center;
      }
      .blue {
        color: $secondary-color;
      }
      .red {
        color: $primary-color;
      }
    }
  }
}
